<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feature.area">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />


    <application
        android:name="com.motor.connect.base.app.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="com.motor.connect.base.view.FragmentHostActivity" />
        <activity android:name="com.motor.connect.feature.splash.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.motor.connect.service.SMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.motor.connect.service.OutgoingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity android:name="com.motor.connect.feature.main.MainActivity" />
        <activity android:name="com.motor.connect.feature.setting.SettingActivity" />
        <activity android:name="com.motor.connect.feature.notification.NotificationActivity" />
        <activity android:name="com.motor.connect.feature.add.AddAreaActivity" />
        <activity android:name="com.motor.connect.feature.details.AreaDetailActivity" />
        <activity android:name="com.motor.connect.feature.setting.schedule.SettingScheduleActivity" />
        <activity android:name="com.motor.connect.feature.setting.area.SettingAreaScheduleActivity" />
        <activity android:name="com.motor.connect.feature.setting.van.SettingAreaVanActivity" />
        <activity android:name="com.motor.connect.feature.edit.EditAreaActivity" />
        <activity android:name="com.motor.connect.utils.dialog.DialogActivity" />
        <activity android:name="com.motor.connect.feature.setting.howuse.HowToUseActivity" />
        <activity android:name="com.motor.connect.feature.setting.help.HelpFeedbackActivity" />

        <activity android:name="com.motor.connect.feature.demo.DemoActivity" />


    </application>

</manifest>